*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  min-width: 500px;
}

main{
  height: calc(100vh - 90px);
  background-color: cadetblue;
}

main:after{
  content: "";
  display: table;
  clear: both;
}


.wrapper{
  height: 100vh;
  width: 100%;
 /*  background-color: black; */
}
/* Color and Background */
.adp-white{
  color: white;
}

/* -------- HEADER -------- */
header{
  height: 110px;
  width: 100%;
  background-color: #101114;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

.adp-btn-header{
  margin-top: 40px;
}

.adp-btn-header a{
 border: 1px solid white;
 color: white;
 text-decoration: none;
 padding: 15px 40px;
 border-radius: 50px;
 text-transform: uppercase;
 font-size: 14px;
 font-weight: 600;
}

/* -------- CONTENT -------- */


/* -------- NAV LEFT -------- */
.nav-left{
  float: left;
  height: 100%;
  background-color: black;
  z-index: 4;
  position: fixed;
  height: 100%;
}


.logo-nav-left{
  height: calc(100% - 190px);
}

.nav-left-bottom{
  width: 100%;
  height: 100px;
  background-color: blueviolet;
}
  /* nav-left-bottom */

.adp-img-br{
  width: 40px;
  height: 40px;
  background-color: darkgray;
  border-radius: 50%;
  margin-left: 20px;
}
.adp-flex-nav{
  display: flex;
  align-items: center;
}
.nav-left-bottom div span{
  margin-left: 10px;
  font-size: 16px;
}

/* -------- FOOTER -------- */
footer{
  height: 90px;
  background-color: red;
  position: fixed;
  z-index: 5;
  width: 100%;
}



/* ---------------- MEDIA QUERIES ---------------- */



   /* ------ XS ------ */
@media all and (max-width: 768px){
  .xs-display-none{
    display: none;
  }

  .nav-left{
    width: 60px;
  }
  .adp-logo{
    display: none;
  }
  .logo-nav-left span{
    display: none;
  }
  .logo-nav-left{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    align-items: center
  }
  .logo-nav-left img{
    width: 60%;
    margin-bottom: 12px;
    cursor: pointer;
  }
}


   /* ------ SM ------ */
@media all and (min-width: 769px){
 

  /* NAV-LEFT */
  .logo-small{
    display: none;
  }
  .nav-left{
    width: 230px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .logo-nav-left{
    margin-top: 16px;
    margin-left: 20px;
   }

   .adp-logo{
   width: 70%;
   margin-bottom: 32px;
  }

  .logo-nav-left div{
    color: darkgray;
    margin-bottom: 23px;
  }
  .img-nav-left{
    display: flex;
    align-items: center;
  }

  .nav-left div:hover{
    color:white;
  }

  .img-nav-left img{
    width: 16%;
  }
  .img-nav-left span{
    margin-left: 5px;
  }
  
  .logo-nav-left h4{
    color: white;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  #adp-plus{
    color: black; 
    background-color: darkgray;
    font-size: 40px;
    text-align: center;
    width: 50px;
    height: 50px;
  }

  #adp-playlist{
    display: flex;
    align-items: center;
  }
  
  #adp-playlist::before{
    content: "+";
    background-color: darkgray;
    width: 44px;
    height: 44px;
    display: inline-block;
    margin-right: 12px;
    color: black;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #logo-small{
    display: none;
  }
  /* NAV-LEFT - fine*/
}


   /* ------ LG ------ */
@media all and (min-width: 971px){
  
}



/* ---------------- MEDIA QUERIES ---------------- */

