*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(21, 25, 32);
}

main{
  height: calc(100vh - 90px);
}

main:after{
  content: "";
  display: table;
  clear: both;
}


.adp-cursor{
  cursor: pointer;
}

.pos-rel{
  position: relative;
}

.wrapper{
  height: 100vh;
  width: 100%;
}
/* Color and Background */
.adp-white{
  color: white;
}





/* -------- HEADER -------- */
header{
  height: 110px;
  background-color: #101114;
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: flex-end;
}

.adp-btn-header{
  margin-top: 40px;
}

.adp-btn-header a{
 border: 1px solid white;
 color: white;
 text-decoration: none;
 padding: 15px 40px;
 border-radius: 50px;
 text-transform: uppercase;
 font-size: 14px;
 font-weight: 600;
}

/* -------- CONTENT -------- */
.content{

  color: white;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cover{
  padding-top: 110px;
  width: 100%;
  margin-top: 20px;
}

/* --- COVER LIST --- */
.cover-list{
  text-align: center;
  margin-top: 20px;
  width: 90%;
  margin: auto;
  height: 70px; 
  position: relative;
}
.cover-list ul{
  max-height: 80px;
  overflow:hidden
}
.cover-list ul li{
  list-style: none;
  display: inline;
  margin-left: 15px;
}
.cover-list ul li a{
  text-decoration: none;
  color: darkgray;
  font-size: 12px;
  line-height: 40px;
  cursor: pointer;
}
.cover-list ul li a:hover{
  color: white;
}

.list-green-line{
  width: 35px;
  height: 1px;
  border: 1px solid chartreuse;
  position: absolute;
  top: 100%;
  left: 32%;
}
 /* ---------------- BOX ---------------- */
 .cover h2, .cover p{
   margin-left: 20px;
   margin-bottom: 10px;
}

.cover p{
  color: darkgray;
}

 .cover-album{
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 50px;
 }

 .box-album{
  width: 260px;
  overflow: auto;
}
.album{
  width: 260px;
  height: 260px;
  position: relative;
}

.box-album h3, .box-album p{
  text-align: center;
  margin-top: 10px;
}

.album img{
  width: 100%;
}

.fav-play{
  font-size: 35px;
  border: 6px solid white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  line-height: 56px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
  display: none;
  cursor: pointer;
}

.album:hover .fav-play{
  display: block;
  z-index: 899999;
}

.album:hover:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
}


/* -------- NAV LEFT -------- */
.nav-left{
  float: left;
  height: 100%;
  background-color: black;
}


.logo-nav-left{
  height: calc(100% - 100px);
  overflow-y: hidden;
}

.nav-left-bottom{
  height: 100px;
  z-index: 1312312;
}
  /* nav-left-bottom */

.adp-img-br{
  width: 28px;
  height: 28px;
  background-color: darkgray;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 10px;
}
.adp-flex-nav{
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.nav-left-bottom div span{
  font-size: 16px;
}
.nav-sx-bottom{
  margin-left: 20px;
  color:darkgray;
  padding-bottom: 7px;
  margin-right: 20px;
}


/* -------- FOOTER -------- */
footer{
  height: 90px;
  width: 100%;
  display: flex;
  background-color: rgb(32, 30, 30);
  position: fixed;
}

/* CONTENUTI FOOTER */
.adp-foot{
  display: flex;
  align-items: center;
  justify-content: center;
}
.adp-foot img{
  width: 80%;
}


.adp-foot2{
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
}


.adp-flex-foot i{
  cursor: pointer;
}
.adp-flex-foot i:hover{
  color: white;
}

.adp-player2{
  height: 100%;
}


/*--------------PLAYER-------------- */
.player-top{
  padding-top: 15px;
  height: 50%;
  display: flex;
  justify-content: center;
}
.player-bottom{
  height: 50%;
  display: flex;
  justify-content: center;
}
     /* Player TOP */
    .player-top div{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      color: white;
    }
    .player-top div i{
      cursor: pointer;
    }
    
    .play i{
      border: 3px solid white;
      padding: 8px;
      border-radius: 50%;
      color: white;
      cursor: pointer;
    }

     /* Player BOTTOM */
    .timer1{
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 10px;
      color: white;
    }

    .timer2{
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      font-size: 10px;
      color: white;
    }
    /* BAR */
    .bar{
      padding: 0 20px;
      position: relative;
    }
    .line1{
      width: 90%;
      border: 2px solid gray;
      background-color: gray;
      height: 5px;
      position: absolute;
      top: 47%;
      left: 6%;
    }
    .bar:hover .greenline{
      display: block;
    }
    .bar:hover .circle{
      display: block;
    }

    .line2{
      position: absolute;
      width: 20%;
      border: 2px solid gainsboro;
      background-color: gainsboro;
      top: 47%;
    }
    .greenline{
      position: absolute;
      width: 20%;
      border: 2px solid chartreuse;
      background-color: chartreuse;
      top: 47%;
      z-index: 12;
      display: none;
    }

    .circle{
      width: 12px;
      height: 12px;
      background-color: rgb(247, 235, 235);
      border-radius: 50%;
      position: absolute;
      top: 39%;
      left: 23%;
      z-index: 121212;
      display: none;
      cursor: pointer;
    }
    
  /* -------- Controllo Volume DX -------- */
    .adp-volume{
      display: flex;
      align-items: center;
    }
    .adp-volume div i{
      margin-right: 10px;
      color: white;
      cursor: pointer;
    }
    
    .volume{
      position: relative;
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
    }
    .volume:hover .volume-green{
      display: block;
    }
    .volume:hover .circle2{
      display: block;
    }

    .line-volume{
      width: 90%;
      background-color: gray;
      height: 2px;
      border: 2px solid gray;
      position: absolute;
      top: 50%;
    }
    
    .line-volume2{
      width: 20%;
      height: 3px;
      background-color: gainsboro;
      border: 2px solid gainsboro;
      position: absolute;
      top: 50%;
    }

    .volume-green{
      width: 20%;
      height: 3px;
      background-color: chartreuse;
      border: 2px solid chartreuse;
      position: absolute;
      top: 50%;
      display: none;
    }
    .circle2{
      width: 10px;
      height: 10px;
      background-color: rgb(247, 235, 235);
      border-radius: 50%;
      position: absolute;
      top: 43%;
      left: 20%;
      display: none;
      cursor: pointer;
    }

























/* ---------------- MEDIA QUERIES ---------------- */



   /* ------ XS ------ */
@media all and (max-width: 768px){
  .xs-display-none{
    display: none;
  }
  header{
    width: calc(100% - 50px);
  }

  .nav-left{
    width: 60px;
  }
  .adp-logo{
    display: none;
  }
  .logo-nav-left span{
    display: none;
  }
  .logo-nav-left{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    text-align: center;
    align-items: center
  }
  .logo-nav-left img{
    width: 60%;
    margin-bottom: 12px;
    cursor: pointer;
  }
  
  /* FOOTER */
  .adp-foot{
    width: 60px; 
  }
  .adp-foot2{
    width: 70px;
    padding: 5px;
    font-size: 10px;
  }
  .adp-foot2 h4{
    color: white;
  }
  .adp-foot2 p{
    color: darkgray;
  }

  .adp-flex-foot{
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: darkgray;
  }
  
  .adp-player{
    width: calc(100% - 360px);
  }

  .bar{
    width: 400px;
  }

  .adp-volume{
    width: 30%;
    padding-left: 20px;
  }
  /* ------------------CONTENUTI------------------ */
  
  .cover-album{
    justify-content: flex-start;
    
  }

  .box-album{
   margin-top: 20px;
   margin-left: 20px;
  }
}

  /* -------------- LISTA -------------- */

  






   /* ------------------ SM ------------------ */
@media all and (min-width: 769px){
  
  header{
    width: calc(100% - 230px);
  }

  /* NAV-LEFT */
  .logo-small{
    display: none;
  }
  .nav-left{
    width: 230px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .logo-nav-left{
    margin-top: 16px;
    margin-left: 20px;
   }

   .adp-logo{
   width: 70%;
   margin-bottom: 32px;
  }

  .logo-nav-left div{
    color: darkgray;
    margin-bottom: 23px;
  }
  .img-nav-left{
    display: flex;
    align-items: center;
  }

  .nav-left div:hover{
    color:white;
  }

  .img-nav-left img{
    width: 16%;
  }
  .img-nav-left span{
    margin-left: 5px;
  }
  
  .logo-nav-left h4{
    color: white;
    text-transform: uppercase;
    margin-bottom: 22px;
  }


  .adp-playlist{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 40%;
    overflow-y: auto;
  }

  .adp-plus::before{
    content: "+";
    background-color: darkgray;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    color: black;
    font-size: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    cursor: pointer;
  }
  
  #logo-small{
    display: none;
  }

  .nav-sx-bottom{
    border-bottom: 1px solid darkgray;
  }

  /* NAV-LEFT - fine*/



  /* FOOTER */
  .adp-foot{
    width: 60px;
  }
  .adp-foot2{
   width: 110px;
   padding: 5px;
   font-size: 10px;
  }
  .adp-foot2 h4{
    color: white;
    font-size: 14px;
  }
  .adp-foot2 p{
    color: darkgray;
    font-size: 12px;
  }

  .adp-flex-foot{
    width: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: darkgray;
  }
  .adp-player{
    width: calc(100% - 460px);
  }

  .bar{
    width: 600px;
  }

  .adp-volume{
    width: 230px;
  }

  /* ------------------CONTENUTI------------------ */
  .box-album{
    margin:20px 20px;
  }

  .content{
    float: left;
    height: 100%;
    width: calc(100% - 230px);
    overflow-y: auto;
  }
}

/* -------------- LISTA -------------- */





   /* ------ LG ------ */
@media all and (min-width: 971px){
  
}



/* ---------------- MEDIA QUERIES ---------------- */

